[submodule "dev/back-end/gateways/vpl-be-api-gateway"]
	path = dev/back-end/gateways/vpl-be-api-gateway
	url = https://github.com/luizracoelho/vpl-be-api-gateway.git
[submodule "dev/back-end/services/vpl-be-vehicles-service"]
	path = dev/back-end/services/vpl-be-vehicles-service
	url = https://github.com/luizracoelho/vpl-be-vehicles-service.git
[submodule "dev/back-end/services/vpl-be-notifications-service"]
	path = dev/back-end/services/vpl-be-notifications-service
	url = https://github.com/luizracoelho/vpl-be-notifications-service.git
[submodule "dev/back-end/services/vpl-be-price-lists-service"]
	path = dev/back-end/services/vpl-be-price-lists-service
	url = https://github.com/luizracoelho/vpl-be-price-lists-service.git
[submodule "dev/front-end/app/vpl-fe-app-public"]
	path = dev/front-end/app/vpl-fe-app-public
	url = https://github.com/luizracoelho/vpl-fe-app-public.git
[submodule "dev/front-end/web/vpl-fe-web-public"]
	path = dev/front-end/web/vpl-fe-web-public
	url = https://github.com/luizracoelho/vpl-fe-web-public.git
[submodule "dev/front-end/web/vpl-fe-web-admin"]
	path = dev/front-end/web/vpl-fe-web-admin
	url = https://github.com/luizracoelho/vpl-fe-web-admin.git
