<mat-form-field appearance="outline">
    <mat-label *ngIf="nameLabel">{{nameLabel}}</mat-label>
    <input type="text" [formControl]="myControl" matInput [matAutocomplete]="auto">
    <fa-icon icon="search" matSuffix class="me-3"></fa-icon>
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
        </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>
</mat-form-field>