<mat-card class="mat-elevation-z2 mb-1">
    <mat-card-content>
        <div class="row d-flex justify-content-between">

            <mat-form-field appearance="outline" class="col-7 col-sm-8 col-md-6 col-lg-4" style="padding-bottom: 0;">
                <mat-label>Pesquisar</mat-label>
                <input type="search" #pesquisa matInput (input)="applyFilter(pesquisa.value)"
                    placeholder="Digite aqui sua busca">
            </mat-form-field>


            <div class="col-3 col-md-6 col-lg-2 mt-1 text-end" *ngIf="showAddButton">
                <button type="button" mat-stroked-button color="primary" (click)="addClick()">
                    <i class="far fa-plus me-0 me-lg-2"></i>
                    <span class="d-none d-lg-inline-block">Adicionar</span>
                </button>
            </div>

        </div>
        <div #mainContent class="w-100" style="overflow: auto;">
            <ng-content></ng-content>
        </div>
        <mat-paginator #paginator [pageSize]="50" [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons>
        </mat-paginator>
    </mat-card-content>
</mat-card>