<app-header title="Modelo" mode="form" (clicked)="save()" [disabled]="!canSubmit()"></app-header>

<form [formGroup]="form" (submit)="save()">

    <mat-card class="mb-3">
        <mat-card-content>
            <p *ngIf="isLoading">Carregando...</p>

            <div class="row" *ngIf="!isLoading">

                <div class="col-12 col-md-5 col-lg-4">
                    <h2 class="mb-1">Dados cadastrais</h2>
                    <small>Dados gerais para cadastro de um veículo</small>
                </div>

                <div class="col-12 col-md-7 col-lg-8">

                    <div class="row">
                        <mat-form-field class="col-12 col-lg-8" appearance="outline">
                            <mat-label>Nome</mat-label>
                            <input matInput type="text" formControlName="name" required />
                            <mat-error>Campo obrigatório</mat-error>
                        </mat-form-field>

                        <mat-form-field class="col-12 col-lg-8" appearance="outline">
                            <mat-label>Tipo</mat-label>
                            <mat-select formControlName="type" required>
                                <mat-option [value]="type.value" *ngFor="let type of types">
                                    {{type.text}}
                                </mat-option>
                            </mat-select>
                            <mat-error>Campo obrigatório</mat-error>
                        </mat-form-field>

                        <mat-form-field class="col-12 col-lg-8" appearance="outline">
                            <mat-label>Marca</mat-label>
                            <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
                            <fa-icon icon="search" matSuffix class="me-3"></fa-icon>
                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                    {{option.name}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>

                        <!-- <mat-form-field class="col-12 col-lg-8" appearance="outline">
                            <mat-label>Marca</mat-label>
                            <mat-select formControlName="brandId" required>
                                <mat-option [value]="brand.id" *ngFor="let brand of brands">
                                    {{brand.name}}
                                </mat-option>
                            </mat-select>
                            <mat-error>Campo obrigatório</mat-error>
                        </mat-form-field> -->

                        <mat-form-field class="col-12 col-lg-8" appearance="outline">
                            <mat-label>Início da produção</mat-label>
                            <input matInput type="text" formControlName="productionStart" required
                                [matDatepicker]="picker">
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field class="col-12" appearance="outline">
                            <mat-label>Descrição</mat-label>
                            <textarea matInput formControlName="description" rows="5" required></textarea>
                            <mat-error>Campo obrigatório</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <button mat-raised-button type="submit" color="primary" [disabled]="!canSubmit()">Salvar</button>
</form>